
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9; /* culoare de fundal deschisă pentru contrast */
  margin: 0; /* elimină marginea implicită */
}

/* Stil pentru containerul formularului */
.form-container {
  padding: 40px; /* mărit padding-ul */
  border: 3px pink solid; /* mărit grosimea border-ului */
  border-radius: 10px; /* mărit radius-ul */
  background-color: pink; /* culoare de fundal albă pentru chenar */
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.6); /* mărit umbra pentru efect 3D */
  text-align: center; /* aliniază textul la centru în cadrul containerului */
  width: 45%; /* setat lățimea la 45% din pagina */
  max-width: 600px; /* mărit lățimea maximă a formularului */
  box-sizing: border-box; /* include padding și border în lățimea totală */
}

/* Stil pentru mat-form-field */
mat-form-field {
  width: 100%;
  margin-bottom: 24px; /* mărit marginea de jos */
  position: relative;
}

/* Stil pentru mat-label */
mat-label {
  font-weight: bold;
  text-align: center;
  display: block;
  width: 100%;
  font-size: 1.4em; /* mărit dimensiunea fontului */
  transition: color 0.3s; /* adăugăm o tranziție lină pentru schimbarea culorii */
}

/* Schimbarea culorii textului din mat-label când mat-form-field este în hover */
mat-form-field:hover mat-label {
  color: pink;
}

/* Schimbarea culorii textului din mat-label când mat-form-field primește focus */
mat-form-field:focus-within mat-label {
  color: pink;
}

/* Stil pentru buton */
.form-container button {
  width: 100%;
  padding: 20px; /* mărit padding-ul */
  font-size: 1.4em; /* mărit dimensiunea fontului */
  transition: color 0.3s;
}
