
<div class="container">
    <div class="text">
      <h1 class="centered-title">About us</h1>
      <p class="ptext">
          At EcoDrive Rentals, we're passionate about sustainability and innovation. Founded with a vision to revolutionize the car rental industry, we specialize exclusively in electric vehicle rentals. With a commitment to reducing carbon emissions and promoting eco-friendly transportation options, we offer a fleet of state-of-the-art electric cars for environmentally-conscious travelers.
      </p>
      <p class="ptext">
          Our mission is to provide a seamless and enjoyable rental experience while contributing to a greener future. Whether you're exploring the city streets or embarking on a scenic road trip, our electric vehicles offer not only convenience but also a guilt-free way to travel.
      </p>
      <p class="ptext">
          At EcoDrive Rentals, we prioritize customer satisfaction and environmental responsibility. Our team is dedicated to delivering exceptional service and ensuring that each rental contributes to the preservation of our planet.
      </p>
      <h2 class="centered-title">Disclaimer</h2>
      <p class="ptext">This website is an educational project created for demonstration purposes. We do not claim ownership of the images used on this site. All images are used for illustrative purposes only, and credit goes to their respective owners.</p>
      <p class="ptext">
          <a href="http://www.csac.ro" class="link">www.csac.ro</a>
          <a href="https://scanstart.ro/" class="link">https://scanstart.ro/</a>
          <a href="https://graffino.com/" class="link">https://graffino.com/</a>
      </p>
    </div>
  </div>
  