.car-list-item {
    border: 1px solid black;
    width: calc(33.33% - 20px); /* Lățimea fiecărui chenar, cu un spațiu de 10px între ele */
    height: 300px; /* Înălțimea fiecărui chenar */
    display: inline-block;
    margin: 10px;
    vertical-align: top; /* Așează chenarele în partea de sus a liniei */
    box-sizing: border-box; /* Include margin-ul în calculul lățimii */
}

img {
    width: 100%;
    height: 70%; /* Înălțimea imaginii ocupă 70% din înălțimea chenarului */
    background-color: gray;
    object-fit: cover; /* Asigură că imaginea este încadrată corect în chenar */
}

.car-info {
    padding: 10px;
    height: 30%; /* Înălțimea informațiilor ocupă 30% din înălțimea chenarului */
    box-sizing: border-box; /* Include padding-ul în calculul înălțimii */
    overflow: auto; /* Adaugă bara de derulare dacă informațiile depășesc înălțimea disponibilă */
}
@media screen and (max-width: 768px) {
    .car-list-item {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .car-list-item {
        width: calc(100% - 20px);
    }
}




