
.form-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.filter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.form-container {
  padding: 24px;
  border: 3px solid pink;
  border-radius: 10px;
  background-color: pink;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 90%;
  max-width: 600px;
  box-sizing: border-box;
  margin-bottom: 32px;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 1em;
  transition: color 0.3s;
  background-color: pink;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-label {
  color: gray;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s;
}

mat-form-field:hover mat-label,
mat-form-field:focus-within mat-label {
  color: pink;
}

#centered-title {
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: 2em;
  color: pink;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin: 0;
  padding-bottom: 16px;
}

/* Media queries pentru dispozitive diferite */
@media (min-width: 600px) {
  .form-container {
    width: 80%;
  }

  button {
    width: 70%;
    font-size: 1.2em;
  }
}

@media (min-width: 768px) {
  .filter-form {
    height: 70vh;
  }

  .form-container {
    width: 60%;
  }

  button {
    width: 60%;
    font-size: 1.4em;
  }

  #centered-title {
    font-size: 2.5em;
  }
}

@media (min-width: 992px) {
  .form-container {
    width: 50%;
  }

  button {
    width: 50%;
  }

  #centered-title {
    font-size: 3em;
  }
}

@media (min-width: 1200px) {
  .form-container {
    width: 40%;
  }

  button {
    width: 40%;
  }

  #centered-title {
    font-size: 3.4em;
  }
}

@media (max-width: 900px) {
  .topMenuItem {
    display: none;
  }

  .filter-form {
    margin-bottom: 50px; /* Adăugăm margine pentru a preveni suprapunerea cu footer-ul */
  }
}

@media (min-width: 900px) {
  #menuIcon {
    display: none;
  }

  .mat-sidenav {
    display: none;
  }

  .filter-form {
    padding-left: 130px; /* Adjusted to account for the sidenav width */
  }
}

/* Extra padding at the bottom of the page to prevent footer overlap */
body {
  padding-bottom: 100px; /* Adjust this value as necessary */
}











  
  

   

  


   