<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="container">
    <form>
      <h2>Pickup Details</h2>
      <label for="pickup-date">Pickup Date:</label>
      <input type="date" id="pickup-date" name="pickup-date" required>

      <label for="pickup-hour">Pickup Hour:</label>
      <input type="time" id="pickup-hour" name="pickup-hour" required>

      <label for="pickup-location">Pickup Location:</label>
      <input type="text" id="pickup-location" name="pickup-location" required>

      <h2>Return Details</h2>
      <label for="return-date">Return Date:</label>
      <input type="date" id="return-date" name="return-date" required>

      <label for="return-hour">Return Hour:</label>
      <input type="time" id="return-hour" name="return-hour" required>

      <label for="return-location">Return Location:</label>
      <input type="text" id="return-location" name="return-location" required>

      <input type="submit" value="Search">
    </form>
  </div>
  
</body>
</html>
