
<section>
  <h2 id="centered-title">What are your preferences?</h2>
<form class="filter-form">
  <div class="form-container">
  <mat-form-field appearance="fill">
    <div class="form-row">
    <mat-label>Seatting capacity</mat-label>
    <mat-select [(ngModel)]="selectedSeats" name="seats">
      <mat-option *ngFor="let seat of seats" [value]="seat">{{seat}}</mat-option>
    </mat-select>
    </div>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <div class="form-row">
    <mat-label>Price per day</mat-label>
    <mat-select [(ngModel)]="selectedPrice" name="price">
      <mat-option *ngFor="let price of pricePerDay" [value]="price">{{price}}</mat-option>
    </mat-select>
  </div>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <div class="form-row">
      <mat-label>Number of days</mat-label>
      <input matInput type="number" [(ngModel)]="selectedDays" name="days" min="1">
    </div>
  </mat-form-field>

  
  <div class="button-row">
    <button mat-raised-button color="accent" [disabled]="!selectedSeats && !selectedPrice" (click)="onSearch()">Search</button>
  </div>
  
  </div>
  </form>
  <!-- <button mat-raised-button color="primary" (click)="navigateToResult()">View search results</button> -->

</section>
<!-- <form class="filter-form" #myForm="ngForm" (ngSubmit)="onSearch(myForm)">
  <mat-form-field appearance="fill">
    <mat-label>Seating capacity</mat-label>
    <mat-select [(ngModel)]="selectedSeats" name="seats" required>
      <mat-option *ngFor="let seat of seats" [value]="seat">{{ seat }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Price per day</mat-label>
    <mat-select [(ngModel)]="selectedPrice" name="price" required>
      <mat-option *ngFor="let price of pricePerDay" [value]="price">{{ price }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">Search</button>
  <button mat-raised-button color="primary" type="button" (click)="navigateToResult()">View search results</button>
</form> -->





