
.car-list-item {
    width: calc(33.33% - 20px); /* Lățimea fiecărui element, cu un spațiu de 10px între ele */
    height: auto; /* Înălțimea elementului va fi automată pentru a se potrivi conținutului */
    display: inline-block;
    margin: 10px;
    vertical-align: top; /* Așează elementele în partea de sus a liniei */
    box-sizing: border-box; /* Include margin-ul în calculul lățimii */
    padding: 20px; /* Mărește padding-ul */
    font-size: 1.4em; /* Mărește dimensiunea fontului */
    transition: color 0.3s;
    background-color: pink; /* Culoare de fundal pentru element */
    border: 3px pink solid; /* Border pentru element */
    border-radius: 10px; /* Border radius pentru element */
    box-shadow: 0 18px 24px rgba(0, 0, 0, 0.6); /* Umbră pentru element */
    cursor: pointer;
    position: relative;
}

.car-info {
    height: auto; /* Înălțimea va fi automată pentru a se potrivi conținutului */
    box-sizing: border-box; /* Include padding-ul în calculul înălțimii */
    overflow: auto; /* Adaugă bara de derulare dacă informațiile depășesc înălțimea disponibilă */
    font-weight: bold;
    text-align: center;
    display: block;
    width: 100%;
    font-size: x-large;
    color: rgb(255, 250, 250);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); 
    margin-top: 10px;
}

#dealButton {
    /* Elimină poziționarea absolută */
    width: 100%; /* Butonul să ocupe întreaga lățime a elementului părinte */
    margin-top: 10px; /* Margin între buton și elementul părinte */
    font-size: larger;
    border-radius: 10px;
    box-shadow: 0 18px 24px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 768px) {
    .car-list-item {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .car-list-item {
        width: calc(100% - 20px);
    }
}

img {
    width: 100%;
    height: 70%; /* Înălțimea imaginii ocupă 70% din înălțimea elementului */
    background-color: gray;
    object-fit: cover; /* Asigură că imaginea este încadrată corect în element */
    border-radius: 10px; /* Border radius pentru imagine */
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.8); 
}

section {
    margin-bottom: 100px;
}

